<!DOCTYPE html>
<html>

<head>
  <title>Магазин Єлизавети (EJS)</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body class="<%= theme %>">
  <h1>Це сторінка на EJS</h1>
  <p>Тема: <%= theme %>
  </p>
  <a href="/set-theme/light">Світла</a>
  <a href="/set-theme/dark">Темна</a>
</body>

</html>